<div class="head_part" [routerLink]="['/items']">
    <div class="back">
        <div class="title">
            <h3>Wild Mushroom Soup<span>£5.00</span></h3>
        </div>
        <div class="bak">
            <img src="../../assets/images/cancel.png">
        </div>
    </div>
</div>
<div class="iteams">
    <div class="iteam_menu_title">
      <div class="iteam_title">
        <h3>Would you like to have a meal with this item?</h3>
      </div>
    </div>
    <div class="food_items">
      <!-- iteam_part -->
      <div class="iteam_menu">
        <div class="iteam_name">
          <!-- end_deals++ -->
          <div class="menu_title">
            <div class="title">
              <h5>Extra starter</h5>
            </div>
          </div>
          <div class="price_iteam">
            <div class="price">
              <p>£8.25</p>
            </div>
          </div>
          <!-- end_price++ -->
        </div>
        <!--iteam_menu  -->
        <div class="item_img">
          <div class="img_part">
            <div class="add_btn">
              <div class="btn">
                <button [routerLink]="['/Modifiers']">CHOOSE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- iteam_part -->
      <!-- iteam_part -->
      <div class="iteam_menu">
        <div class="iteam_name">
          <!-- end_deals++ -->
          <div class="menu_title">
            <div class="title">
              <h5>Extra Query Meal</h5>
            </div>
          </div>
          <div class="price_iteam">
            <div class="price">
              <p>£8.25</p>
            </div>
          </div>
          <!-- end_price++ -->
        </div>
        <!--iteam_menu  -->
        <div class="item_img">
          <div class="img_part">
            <div class="add_btn">
              <div class="btn">
                <button [routerLink]="['/Modifiers']">CHOOSE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- iteam_part -->
    </div>
  </div>
  <div class="btn_fixed">
      <div class="fixed">
          <div class="btns">
              <button class="two" [routerLink]="['/items']">
                No Thanks
              </button>
          </div>
      </div>
  </div>