<div class="head_part" [routerLink]="['/items']">
    <div class="back">
        <div class="title">
            <h3>Wild Mushroom Soup<span>£5.00</span></h3>
        </div>
        <div class="bak">
            <img src="../../assets/images/cancel.png">
        </div>
    </div>
</div>
<div class="iteam_modifiers">
    <div class="iteam_sellect">
        <div class="main_sellect">
            <div class="head">
                <h3>Size</h3>
            </div>
            <div class="sellect">
                <label>
                    <input type="radio" name="radio" checked />
                    <span>
                        <p>Size1<small>£5</small></p>
                    </span>
                </label>
                <label>
                    <input type="radio" name="radio" checked />
                    <span>
                        <p>Size2 <small>£5</small></p>
                    </span>
                </label>
            </div>
        </div>
        <div class="main_sellect">
            <div class="head">
                <h3>For Your Sweet Tooth</h3>
                <p>Please select any 1 desert</p>
                <p class="color_r">* Note: 1 side included with this item</p>
            </div>
            <div class="checkbox">
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" checked="checked" id="one">
                        <label for="one">
                            <p>Gajar Halwa <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t2">
                        <label for="t2">
                            <p>Gajar Halwa <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t3">
                        <label for="t3">
                            <p>Gulab Jamun Ice Cream <small>£5</small><span><img
                                        src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                    <div class="add_btn">
                        <div class="btn">
                            <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4" />
                                    </svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z"
                                            fill="#58A940" />
                                    </svg>
                                </span></button>
                        </div>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t4">
                        <label for="t4">
                            <p>Gajar Halwa <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems active">
                    <div class="form-group">
                        <input type="checkbox" id="t5">
                        <label for="t5">
                            <p>Thums Up 250Ml <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                        <span><small>Item Not Available</small></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end_sellect_part++++++++++++++ -->
        <div class="main_sellect">
            <div class="head">
                <h3>Try Our Sides</h3>
                <p>Please select any 1 Side</p>
                <!-- <p class="color_r">* Note: 1 side included with this item</p> -->
            </div>
            <div class="checkbox">
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" checked="checked" id="one">
                        <label for="one">
                            <p>Plain Papdam <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t2">
                        <label for="t2">
                            <p>Sweet Mango Chutney <small>£5</small><span><img
                                        src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- end_sellect_part++++++++++++++ -->
        <div class="main_sellect">
            <div class="head">
                <h3>Best Paired With</h3>
                <p>Please select any 1 Side</p>
                <!-- <p class="color_r">* Note: 1 side included with this item</p> -->
            </div>
            <div class="checkbox">
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" checked="checked" id="one">
                        <label for="one">
                            <p>Caesar Salad<small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
            </div>
        </div>
    </div>
</div>
<!-- btn_fixed+++++++++++++ -->
<div class="btn_fixed">
    <div class="offer_ban">
        <div class="ban">
            <p>You have already selected max modifiers for this category</p>
        </div>
    </div>
    <div class="fixed">
        <div class="btns">
            <button class="one">
                <p>Item Total <span> £42.75</span></p>
                <small class="active">No Extra Selected</small>
            </button>
            <button class="two" [routerLink]="['/cart']">
                ADD ITEM
            </button>
        </div>
    </div>
</div>