@import "../../styles";

// head_+part++++++++++++++++
.head_part {
  padding: 12px 10px;
  background: #F3F4F6;
  cursor: pointer;
  outline: 0;

  .back {
    display: flex;

    align-items: flex-start;
    justify-content: space-between;

    .bak {
      margin-right: 5px;

      img {
        width: 25px;
      }
    }

    .title {
      h3 {
        margin: 0;
        font-size: 16px;

        span {
          display: block;
          font-size: 15px;
          color: #93959F;
        }
      }
    }
  }
}

// start_iteam_part+++++++++++++++++
.iteam_modifiers {
  padding: 10px;
  padding-bottom: 150px;

  .iteam_sellect {
    .main_sellect {
      .head {
        margin: 10px 0 3px;

        h3 {
          margin: 0;
          font-size: 16px;
        }

        p {
          margin: 0;

          font-size: 12px;
          color: #93959F;
          font-weight: 600;

        }

        .color_r {
          color: #CD0913;
        }
      }

      .sellect {

        label {
          display: flex;
          cursor: pointer;
          font-weight: 500;
          position: relative;
          overflow: hidden;
          margin-bottom: 0;
          padding: 10px 0;

          &:nth-last-child(2) {
            border: 0;

          }

          input {
            position: absolute;
            left: -9999px;

            &:checked+span {

              &:before {
                box-shadow: inset 0 0 0 0.2em #ffffff;
                background: $theme_color;
              }
            }
          }

          span {
            display: flex;
            padding: 0;
            border-radius: 99em; // or something higher...
            transition: 0.25s ease;
            align-items: center;
            p {
              margin: 0;
              font-size: 14px;

              small {
                font-size: 14px;
                margin-left: 10px;
                font-weight: bold;
                color: #93959F;
              }
            }

            &:before {

              display: flex;
              flex-shrink: 0;
              content: "";
              background: transparent;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              margin-right: 6px;
              transition: 0.25s ease;
              border: solid 1px #828282;

            }
          }
        }
      }

      // check_boxes++++++++++++++
      .checkbox {
        .active {
          pointer-events: none;
          opacity: 0.3;
        }

        .additems {
          display: flex;
          align-items: center;

          .form-group {
            width: 100%;
            display: block;
            padding: 10px 0;

            span {
              small {
                padding: 0px 20px;
                margin-left: 15px;
                font-size: 12px;
              }
            }

            input {
              padding: 0;
              height: initial;
              width: initial;
              margin-bottom: 0;
              display: none;
              cursor: pointer;

              &:checked+label:after {
                content: "";
                display: block;
                position: absolute;
                top: 2px;
                left: 6px;
                width: 4px;
                height: 10px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }

              &:checked+label:before {
                background-color: $theme_color;
                border: solid 1px $theme_color;
              }
            }

            label {
              display: flex;
              padding: 0;
              border-radius: 99em; // or something higher...
              transition: 0.25s ease;
              position: relative;
              cursor: pointer;
              align-items: end;
              padding-right: 20px;

              p {
                margin: 0;
                font-size: 14px;
                display: flex;

                small {
                  font-size: 14px;
                  margin-left: 10px;
                  font-weight: bold;
                  color: #93959F;
                }

                span {
                  width: 20px;
                  height: 20px;

                  img {
                    width: 15px;
                    margin-left: 7px;
                    margin-bottom: -4px;
                  }
                }
              }

              &:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: solid 1px #828282;
                padding: 8px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 6px;
              }

            }


          }

          .add_btn {
            margin-top: 0px;
            flex-shrink: 0;

            .btn {
              button {
                width: 80px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
                font-weight: bold;
                padding: 0;
                height: 32px;
                margin: 0;
                outline: 0;
                border-radius: 5px;
                border: 0;
                font-size: 14px;
                color: $theme_color;
                position: relative;
                background: #fff;
                cursor: pointer;

                //   span {
                //     position: absolute;
                //     top: 0px;
                //     right: 6px;
                //   }
              }

              .inc {
                display: flex;
                align-items: center;
                justify-content: space-around;

                span {
                  position: relative;
                  display: flex;
                  align-items: center;
                  color: #58A940;
                  cursor: pointer;

                  svg {
                    width: 12px;
                    height: 12px;
                  }
                }
              }
            }

            p {
              margin: 5px 0 0;
              font-size: 11px;
              height: 14px;

            }
          }
        }

      }
    }
  }
}

// start_btn_fixed+++++++++++++++
.btn_fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F0FFFF;
  box-shadow: 0px 0px 1px #676767;
  z-index: 99;

  .offer_ban {
    background: #272C3F;

    .ban {
      p {
        font-size: 12px;
        color: #fff;
        padding: 10px;
        margin: 0px 0 0;
        font-weight: 100;
      }
    }
  }

  .fixed {
    .btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0;

      button {
        border: 0;
        background: transparent;
        font-size: 14px;
        font-weight: bold;
        outline: 0;
        width: 50%;
        height: 50px;
        text-align: left;
        padding: 0px 10px;

        P {
          margin: 0;
        }

        small {
          font-size: 12px;
          color: #93959F;
        }
        .active{
          color: $theme_color_2;
        }
      }

      .two {
        text-transform: uppercase;
        cursor: pointer;
        background-color: $theme_color_2;
        color: #fff;
        text-align: center;

      }
    }

    .desserts {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .title {
        .head {
          h3 {
            font-size: 16px;
            font-weight: 600;
            margin: 5px 0;
            margin-top: 5px;
          }
        }

        .pera {
          p {
            margin: 0;
            font-size: 14px;
          }
        }
      }

      .hide_show {
        .hide {
          h3 {
            margin: 0;
            font-size: 16px;
            text-transform: uppercase;
            color: $theme_color_2;
            cursor: pointer;
          }
        }
      }
    }

  }

}
