/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
}

body div,
body p,
body small,
body span,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body button,
body input {
  font-family: "Roboto", sans-serif !important;
  line-height: normal !important;
}

.offer_rib {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.offer_rib .offer svg {
  fill: #F8254A;
  width: 450px;
  height: 45px;
}

.offer_rib .offer h3 {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  bottom: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer_rib .offer h3 svg {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.iteams {
  padding: 10px;
  padding-bottom: 100px;
}

.iteams .iteam_menu_title .iteam_title h3 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .iteams .food_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.iteams .food_items .iteam_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.7px solid #D4D5D7;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .iteams .food_items .iteam_menu {
    width: 48%;
  }
}

.iteams .food_items .iteam_menu:last-child {
  border: 0;
}

.iteams .food_items .iteam_menu .iteam_name {
  padding-right: 15px;
  width: 100%;
}

.iteams .food_items .iteam_menu .iteam_name .deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iteams .food_items .iteam_menu .iteam_name .deals .img_deal {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iteams .food_items .iteam_menu .iteam_name .deals .img_deal svg {
  width: 100%;
  height: 100%;
  fill: #ff2300;
}

.iteams .food_items .iteam_menu .iteam_name .deals h6 {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  color: #ff2300;
}

.iteams .food_items .iteam_menu .iteam_name .menu_title .title h5 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}

.iteams .food_items .iteam_menu .iteam_name .price_iteam .price p {
  margin: 8px 0;
  font-size: 15px;
}

.iteams .food_items .iteam_menu .iteam_name .description .dec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.iteams .food_items .iteam_menu .iteam_name .description .dec p {
  margin: 0;
  font-size: 12px;
  color: #80808A;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}

.iteams .food_items .iteam_menu .iteam_name .description .dec p span {
  display: inline-block;
}

.iteams .food_items .iteam_menu .iteam_name .description .dec p span svg {
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  fill: #ff2300;
}

.iteams .food_items .iteam_menu .iteam_name .description .dec p small {
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  -webkit-line-clamp: 2;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 0;
}

.iteams .food_items .iteam_menu .item_img .img_part {
  text-align: center;
}

.iteams .food_items .iteam_menu .item_img .img_part .img {
  width: 120px;
  border-radius: 5px;
  overflow: hidden;
  height: 120px;
  border: solid 1px #eaeaea;
}

.iteams .food_items .iteam_menu .item_img .img_part .img img {
  width: 100%;
}

.iteams .food_items .iteam_menu .item_img .img_part .add_btn {
  margin-top: -18px;
  width: 120px;
}

.iteams .food_items .iteam_menu .item_img .img_part .add_btn .btn button {
  width: 100px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
  font-weight: bold;
  padding: 0;
  height: 32px;
  margin: 0;
  outline: 0;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  color: #ff2300;
  position: relative;
  background: #fff;
  cursor: pointer;
}

.iteams .food_items .iteam_menu .item_img .img_part .add_btn .btn button span {
  position: absolute;
  top: 0px;
  right: 6px;
}

.iteams .food_items .iteam_menu .item_img .img_part .add_btn p {
  margin: 5px 0 0;
  font-size: 11px;
  height: 14px;
}

.menu_buttons {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 110px;
  text-align: center;
}

.menu_buttons .menu_pop {
  width: 100%;
}

.menu_buttons .menu_pop .btn button {
  height: 45px;
  width: 130px;
  border: 0;
  background: #5200C6;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 0px 12px rgba(82, 0, 198, 0.09);
          box-shadow: 0px 0px 0px 12px rgba(82, 0, 198, 0.09);
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 0;
  margin: 0px auto;
}

.menu_buttons .menu_pop .btn button span {
  margin-right: 6px;
}

.menu_buttons .menu_pop .btn button span svg {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_buttons .menu_pop .offer_ban {
  background-color: #4D9436;
}

.menu_buttons .menu_pop .offer_ban .ban p {
  font-size: 14px;
  color: #fff;
  padding: 10px;
  margin: 10px 0 0;
  text-transform: uppercase;
}
/*# sourceMappingURL=items.component.css.map */