<div class="heading_div" [routerLink]="['/items']">
    <div class="head">
        <h3><svg width="13" height="21" viewBox="0 0 13 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0371 20.0827L0.792152 10.9458C0.402616 10.5612 0.402616 9.93981 0.792152 9.5542L10.0371 0.417333C10.5995 -0.139111 11.5144 -0.139111 12.0777 0.417333C12.64 0.973776 12.64 1.87687 12.0777 2.43332L4.16913 10.2505L12.0777 18.0657C12.64 18.6231 12.64 19.5262 12.0777 20.0827C11.5144 20.6391 10.5995 20.6391 10.0371 20.0827Z" />
            </svg>
            Contact Us</h3>
            <h3 class="bk">Contact Us</h3>
            <h3 [routerLink]="['/aboutus']"><small>About Us</small>
                </h3>
    </div>
</div>

<div class="map_section">
    <div class="maping">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.7181400668424!2d-3.2685013839065595!3d55.91958748658325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c6946c141295%3A0x13e64db2dd56fc8e!2s5%20Kingsknowe%20Ct%2C%20Edinburgh%20EH14%202JS%2C%20UK!5e0!3m2!1sen!2sin!4v1602739826619!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="address">
        <div class="adrs">
            <h3>Find Us @:</h3>
            <p>5 Kingsknowe Court, Edinburgh, EH14 2JT</p>
            <h3>Contact Us:</h3>
            <p><small>Phone</small> <span>02035836442</span></p>
            <p><small>Email</small> <span>james@eposhybrid.com</span></p>
            <h3>Working Hours:</h3>
            <p><small>Sunday</small> <span>12:00 AM - 12:00 AM</span></p>
            <p><small>Monday</small> <span>12:00 AM - 12:00 AM</span></p>
            <p><small>Tuesday</small> <span>12:00 AM - 12:00 AM</span></p>
            <p><small>Wednesday</small> <span>12:00 AM - 12:00 AM</span></p>
            <p><small>Thursday</small> <span>12:00 AM - 12:00 AM</span></p>
            <p><small>Firday</small> <span>12:00 AM - 12:00 AM</span></p>
            <p><small>Saturday</small> <span>12:00 AM - 12:00 AM</span></p>
        </div>
    </div>
</div>