<div class="head_part" [routerLink]="['/items']">
    <div class="back">
        <div class="title">
            <h3>Burratina & Finocchiona Salami<span>£5.00</span></h3>
        </div>
        <div class="bak">
            <img src="../../assets/images/cancel.png">
        </div>
    </div>
</div>
<div class="modifier">
    <div class="title_mod">
        <div class="name">
            <h3>Modifiers</h3>
            <p>Please select what you like</p>
        </div>
    </div>
    <div class="modi">
        <div class="iteam">
            <div class="img">
                <img src="../../assets/images/8.jpg">
            </div>
            <div class="title">
                <div class="hed">
                    <h3>Spicy Mango Chutney</h3>
                </div>
                <div class="price">
                    <p>£0.00</p>
                    <div class="info">
                        <img src="../../assets/images/info.png">
                    </div>
                </div>
            </div>                                 
            <div class="add_btn">
                <div class="btn">
                  <button [routerLink]="['/items']">ADD</button>
                  <!--   <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4"/>
</svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z" fill="#58A940"/>
</svg>
</span></button> -->
                </div>
              </div>
        </div>
        <div class="iteam">
            <div class="img">
                <img src="../../assets/images/1.jpg">
            </div>
            <div class="title">
                <div class="hed">
                    <h3>Kachumber</h3>
                </div>
                <div class="price">
                    <p>£0.00</p>
                    <div class="info">
                        <img src="../../assets/images/info.png">
                    </div>
                </div>
            </div>
            <div class="add_btn">
                <div class="btn">
                  <!-- <button [routerLink]="['/items']">ADD</button> -->
                    <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4"/>
</svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z" fill="#58A940"/>
</svg>
</span></button>
                </div>
              </div>
        </div>
        <div class="iteam">
            <div class="img">
                <img src="../../assets/images/without_image.png">
            </div>
            <div class="title">
                <div class="hed">
                    <h3>Sweet Chilly Chutney</h3>
                </div>
                <div class="price">
                    <p>£0.00</p>
                    <div class="info">
                        <img src="../../assets/images/info.png">
                    </div>
                </div>
            </div>
            <div class="add_btn">
                <div class="btn">
                  <button [routerLink]="['/items']">ADD</button>
                  <!--   <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4"/>
</svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z" fill="#58A940"/>
</svg>
</span></button> -->
                </div>
              </div>
        </div>
        <div class="iteam">
            <div class="img">
                <img src="../../assets/images/3.jpg">
            </div>
            <div class="title">
                <div class="hed">
                    <h3>Yoghurt Salsa</h3>
                </div>
                <div class="price">
                    <p>£0.00</p>
                    <div class="info">
                        <img src="../../assets/images/info.png">
                    </div>
                </div>
            </div>
            <div class="add_btn">
                <div class="btn">
                  <!-- <button [routerLink]="['/items']">ADD</button> -->
                    <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4"/>
</svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z" fill="#58A940"/>
</svg>
</span></button>
                </div>
              </div>
        </div>
        <div class="iteam">
            <div class="img">
                <img src="../../assets/images/4.jpg">
            </div>
            <div class="title">
                <div class="hed">
                    <h3>Mint Chutney</h3>
                </div>
                <div class="price">
                    <p>£0.00</p>
                    <div class="info">
                        <img src="../../assets/images/info.png">
                    </div>
                </div>
            </div>
            <div class="add_btn">
                <div class="btn">
                  <button [routerLink]="['/items']">ADD</button>
                  <!--   <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4"/>
</svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z" fill="#58A940"/>
</svg>
</span></button> -->
                </div>
              </div>
        </div>
        <div class="iteam">
            <div class="img">
                <img src="../../assets/images/5.jpg">
            </div>
            <div class="title">
                <div class="hed">
                    <h3>Mint Chutney</h3>
                </div>
                <div class="price">
                    <p>£0.00</p>
                    <div class="info">
                        <img src="../../assets/images/info.png">
                    </div>
                </div>
            </div>
            <div class="add_btn">
                <div class="btn">
                  <button [routerLink]="['/items']">ADD</button>
                  <!--   <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4"/>
</svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z" fill="#58A940"/>
</svg>
</span></button> -->
                </div>
              </div>
        </div>
        <div class="iteam">
            <div class="img">
                <img src="../../assets/images/6.jpg">
            </div>
            <div class="title">
                <div class="hed">
                    <h3>Spicy Mango Chutney</h3>
                </div>
                <div class="price">
                    <p>£0.00</p>
                    <div class="info">
                        <img src="../../assets/images/info.png">
                    </div>
                </div>
            </div>
            <div class="add_btn">
                <div class="btn">
                  <button [routerLink]="['/items']">ADD</button>
                  <!--   <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4"/>
</svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z" fill="#58A940"/>
</svg>
</span></button> -->
                </div>
              </div>
        </div>
    </div>
</div>
  <div class="btn_fixed">
      <div class="fixed">
          <div class="desserts">
              <div class="title">
                  <div class="head">
                    <h3>Desserts</h3>
                </div>
                <div class="pera">
                    <p>Burratina And Finocchiona Salami</p>
                </div>
              </div>
              <div class="hide_show">
                <div class="hide">
                    <h3>Show</h3>
                </div>
            </div>
          </div>
          <div class="btns">
              <button class="one">
                Choose <span>1/2</span>
              </button>
              <button class="two" [routerLink]="['/cart']">
                Continue
              </button>
          </div>
      </div>
  </div>