<div class="sellect_tab" >
    <div class="sel">
        <div class="title">
            <h3 [routerLink]="['/contactus']"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.51852 5.94339L2.92579 0.409531C2.37744 -0.133049 1.47016 -0.13995 0.914868 0.409499L0.418265 0.900875C-0.138891 1.45217 -0.138702 2.3395 0.414524 2.8869L6.10439 8.51688L0.414524 14.1469C-0.140383 14.6959 -0.137027 15.5834 0.418265 16.1329L0.914868 16.6243C1.47202 17.1756 2.37048 17.1737 2.92579 16.6242L8.51852 11.0904L14.1112 16.6242C14.6666 17.1737 15.565 17.1756 16.1222 16.6243L16.6188 16.1329C17.1741 15.5834 17.1774 14.6959 16.6225 14.1469L10.9326 8.51688L16.6225 2.8869C17.1757 2.3395 17.1759 1.45217 16.6188 0.900875L16.1222 0.409499C15.5669 -0.13995 14.6596 -0.133049 14.1112 0.409531L8.51852 5.94339Z" fill="white"/>
                </svg>
                </h3>
            <img src="../../assets/images/table_ban.png">
        </div>
    </div>
    <div class="logo">
        <div class="table">
            <img src="../../assets/images/about_logo.svg">
        </div>
    </div>
   
</div>


<div class="policies_stutas">
    <div class="policies">
        <div class="head">
            <h3>About Us</h3>
        </div>
        <div class="cnt">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including version</p>
        </div>
     
    </div>

</div>

