
<div class="head_part" >
    <div class="back">
     
        <div class="title">
            <h3>Chicken Masala Tikka<span>£42.75</span></h3>
        </div>
    </div>
</div>
<div class="iteam_modifiers">
    <div class="iteam_sellect">
        <div class="main_sellect">
            <div class="head">
                <h3>For Your Sweet Tooth</h3>
                <!-- <p>Please select any 1 desert</p>
                <p class="color_r">* Note: 1 side included with this item</p> -->
            </div>
            <div class="checkbox">
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" checked="checked" id="one">
                        <label for="one">
                            <p>Gajar Halwa <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                    <div class="add_btn">
                        <div class="btn">
                            <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4" />
                                    </svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z"
                                            fill="#58A940" />
                                    </svg>
                                </span></button>
                        </div>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t2">
                        <label for="t2">
                            <p>Gajar Halwa <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                    <div class="add_btn">
                        <div class="btn">
                            <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4" />
                                    </svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z"
                                            fill="#58A940" />
                                    </svg>
                                </span></button>
                        </div>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t3">
                        <label for="t3">
                            <p>Gulab Jamun Ice Cream <small>£5</small><span><img
                                        src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                    <div class="add_btn">
                        <div class="btn">
                            <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4" />
                                    </svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z"
                                            fill="#58A940" />
                                    </svg>
                                </span></button>
                        </div>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t4">
                        <label for="t4">
                            <p>Gajar Halwa <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                    </div>
                    <div class="add_btn">
                        <div class="btn">
                            <button class="inc"><span><svg width="10" height="3" viewBox="0 0 10 3" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.09266V0H9.57026V2.09266H0Z" fill="#CECFD4" />
                                    </svg></span><span>1</span><span><svg width="9" height="9" viewBox="0 0 9 9"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.32905 5.1285H0.0136719V3.28426H3.32905V0H5.20519V3.28426H8.52057V5.1285H5.20519V8.37066H3.32905V5.1285Z"
                                            fill="#58A940" />
                                    </svg>
                                </span></button>
                        </div>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems active">
                    <div class="form-group">
                        <input type="checkbox" id="t5">
                        <label for="t5">
                            <p>Thums Up 250Ml <small>£5</small><span><img src="../../assets/images/info.png"></span></p>
                        </label>
                        <span><small>Item Not Available</small></span>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- end_sellect_part++++++++++++++ -->
      
    </div>
</div>

<div class="fixed_btn">
    <div class="contune">
        <div class="process_btn">
            <div class="process">
              <svg width="335" height="43" viewBox="0 0 335 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.19234 7.7202C7.25121 3.19793 11.2844 0 15.929 0H319.654C324.299 0 328.332 3.19793 329.391 7.7202L334.708 30.4285C336.177 36.7028 331.415 42.7083 324.971 42.7083H10.6119C4.16793 42.7083 -0.593838 36.7029 0.875271 30.4285L6.19234 7.7202Z" />
                </svg>
              <button ><p>Total £42.75 <span></span></p><p [routerLink]="['/cart']">ADD ITEM</p></button>
            </div>
          </div>
    </div>
</div>