<!-- left order history -->

<div class="lefthistory">
    <div class="heading_div">
        <div class="head">
            <h3>
                Reset</h3>
                <h3 class="bk">Filters</h3>
                <h3 [routerLink]="['/PizzaModifers']"><span>Apply</span>
                    </h3>
        </div>
    </div>

    <div class="items_filter">
        <div class="filter_i">
            <div class="tilte">
                <h3>Category</h3>
            </div>
            <div class="cat">
                <button>Tandoori</button>
                <button class="active">Pizza</button>
                <button>Grill</button>
                <button >Fast Food</button>
                <button>Deals</button>
                <button>Mexican</button>
                <button>Burgers</button>
            </div>
            <div class="tilte">
                <h3>Category</h3>
            </div>
            <div class="checkbox">
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" checked="checked" id="one">
                        <label for="one">
                            <p>No Sweet Corn </p>
                        </label>
                    </div>
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t2">
                        <label for="t2">
                            <p>No Pepperoni</p>
                        </label>
                    </div>
                  
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t3">
                        <label for="t3">
                            <p>No Red Onions</p>
                        </label>
                    </div>
                
                </div>
                <!-- secont_copy++++++++++++ -->
                <div class="additems">
                    <div class="form-group">
                        <input type="checkbox" id="t4">
                        <label for="t4">
                            <p>No Anchovies</p>
                        </label>
                    </div>
               
                </div>
              
            </div>
        </div>
    </div>
</div>