<!-- left order history -->
<div class="lefthistory" >
    <div class="heading_div">
        <div class="head" [routerLink]="['/items']">
            <h3><svg width="13" height="21" viewBox="0 0 13 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0371 20.0827L0.792152 10.9458C0.402616 10.5612 0.402616 9.93981 0.792152 9.5542L10.0371 0.417333C10.5995 -0.139111 11.5144 -0.139111 12.0777 0.417333C12.64 0.973776 12.64 1.87687 12.0777 2.43332L4.16913 10.2505L12.0777 18.0657C12.64 18.6231 12.64 19.5262 12.0777 20.0827C11.5144 20.6391 10.5995 20.6391 10.0371 20.0827Z" />
                </svg>
                Back</h3>
            <p>My Orders</p>
        </div>
    </div>
    
    <div class="heading_history" >

        <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p class="theme">On it’s way</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
                <div class="arrow" >
                    <svg  xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <!--  <button [routerLink]="['/cart']">REORDER</button> -->
            </div>
        </div>
        <!-- end_history -->
        <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <button [routerLink]="['/cart']">REORDER</button>
            </div>
        </div>
        <!-- end_history -->
         <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p class="red">-90 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <!--  <button [routerLink]="['/cart']">REORDER</button> -->
            </div>
        </div>
        <!-- end_history -->
         <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                 <button [routerLink]="['/cart']">REORDER</button>
            </div>
        </div>
        <!-- end_history -->
         <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                 <button [routerLink]="['/cart']">REORDER</button>
            </div>
        </div>
        <!-- end_history -->
         <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                 <button [routerLink]="['/cart']">REORDER</button>
            </div>
        </div>
        <!-- end_history -->
         <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                 <button [routerLink]="['/cart']">REORDER</button>
            </div>
        </div>
        <!-- end_history -->
         <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                 <button [routerLink]="['/cart']">REORDER</button>
            </div>
        </div>
        <!-- end_history -->
         <div class="history" [routerLink]="['/orderdetails']">
            <div class="details">
                <div class="iteams_name">
                    <h3><span>Galouti Kebab <small>x</small>1</span>, <span> Salt & Pepper Munchie Box - Large (incl)
                            <small>x</small>1</span></h3>
                </div>
                <div class="time_date">
                    <h4>22/05/2020 - <span> 17:55</span></h4>
                </div>
                <div class="stutas">
                    <div class="price">
                        <p>£82.50</p>
                    </div>
                    <span>|</span>
                    <div class="deli">
                        <p>Delivered</p>
                    </div>
                    <span>|</span>
                    <div class="status-line">
                        <p>164 points</p>
                    </div>
                </div>
            </div>
            <div class="re_order">
               <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs" width="512" height="512" x="0" y="0"
                        viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 512 512" xml:space="preserve"
                        class="">
                        <g>
                            <g xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path
                                        d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12    c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028    c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265    c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                 <button [routerLink]="['/cart']">REORDER</button>
            </div>
        </div>
        <!-- end_history -->
    </div>

</div>