<div class="choose_table">
    <div class="head">
        <h3><span><img src="../../assets/images/table.svg"></span> Please choose your table</h3>
    </div>

</div>


<mat-tab-group>
  <mat-tab label="Floor1">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Floor2">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Floor3">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Floor4">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Floor5">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Floor6">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Floor7">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Floor8">
    <div class="book_tab">
      <div class="tab">
          <div class="btn">
              <button > 01</button>
              <button> 02</button>
              <button > 03</button>
              <button> 04</button>
              <button> 05</button>
              <button> 06</button>
              <button class="active"> 07</button>
              <button> 08</button>
              <button> 09</button>
              <button> 10</button>
              <button> 11</button>
              <button> 12</button>
              <button> 13</button>
          </div>
          
      </div>
  </div>
  </mat-tab>


</mat-tab-group>

<div class="yes_no">
  <div class="btn">
    <div class="n">
      <button [routerLink]="['/items']">No</button>
    </div>
    <div class="yes">
      <button [routerLink]="['/items']">Yes</button>
    </div>
  </div>
</div>