@import "../../styles";

//   end_header_part+++++++++++++++++
.lefthistory {
  position: relative;
  z-index: 10;

  .heading_div {
    padding: 15px 10px;
    background: #F3F4F6;

    .head {
      position: relative;

      h3 {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        color: $theme_color_2;
        height: 33px;
        position: relative;
        z-index: 9;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          fill: $theme_color_2;
        }
      }

      p {
        height: 33px;
        position: absolute;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        left: 0;
        top: 0;
        right: 0;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }


  .profile {
    padding: 30px 20px;

    .main {
      .head {
        text-align: center;

        h3 {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        p {
          font-weight: bold;
          font-size: 15px;
        }
      }

      .field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;

        .name {
          span {
            font-size: 12px;
            color: #999999;
          }

          p {
            font-size: 18px;
            margin: 5px 0;
          }
        }

        .edit {
          p {
            margin: 5px 0;
            font-weight: bold;
            font-size: 16px;
            color: $theme_color_2;
          }
        }
      }
    }
  }
}
