/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
}

body div,
body p,
body small,
body span,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body button,
body input {
  font-family: "Roboto", sans-serif !important;
  line-height: normal !important;
}

.head_part {
  padding: 12px 10px;
  background: #F3F4F6;
  cursor: pointer;
  outline: 0;
}

.head_part .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head_part .back .bak {
  margin-right: 5px;
}

.head_part .back .bak img {
  width: 25px;
}

.head_part .back .title h3 {
  margin: 0;
  font-size: 16px;
}

.head_part .back .title h3 span {
  display: block;
  font-size: 12px;
  color: #93959F;
  font-weight: 400;
}

.iteam_modifiers {
  padding: 10px;
  padding-bottom: 150px;
}

.iteam_modifiers .head {
  margin: 10px 0 3px;
}

.iteam_modifiers .head h3 {
  margin: 0;
  font-size: 16px;
}

.iteam_modifiers .head p {
  margin: 0;
  font-size: 12px;
  color: #93959F;
  font-weight: 600;
}

.iteam_modifiers .head .color_r {
  color: #CD0913;
}

.iteam_modifiers .choose_pizza_style .pizza_style {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0 30px;
}

.iteam_modifiers .choose_pizza_style .pizza_style .active {
  border: solid 1px #ff2300;
  border-radius: 5px;
  position: relative;
}

.iteam_modifiers .choose_pizza_style .pizza_style .active::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  right: -11px;
  background-color: #ff2300;
  top: -12px;
  border-radius: 50px;
}

.iteam_modifiers .choose_pizza_style .pizza_style .active::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: -2px;
  width: 5px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.iteam_modifiers .choose_pizza_style .pizza_style .pizza {
  width: 80px;
  padding: 10px;
  text-align: center;
  position: relative;
  margin-right: 20px;
}

.iteam_modifiers .choose_pizza_style .pizza_style .pizza svg {
  width: 45px;
  height: 45px;
  margin: 0px auto;
}

.iteam_modifiers .choose_pizza_style .pizza_style .pizza p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.iteam_modifiers .iteam_sellect .main_sellect .head {
  margin: 10px 0 3px;
}

.iteam_modifiers .iteam_sellect .main_sellect .head h3 {
  margin: 0;
  font-size: 16px;
}

.iteam_modifiers .iteam_sellect .main_sellect .head p {
  margin: 0;
  font-size: 12px;
  color: #93959F;
  font-weight: 600;
}

.iteam_modifiers .iteam_sellect .main_sellect .head .color_r {
  color: #CD0913;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  padding: 10px 0;
  padding-right: 45px;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label:nth-last-child(2) {
  border: 0;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label input {
  position: absolute;
  left: -9999px;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label input:checked + span:before {
  -webkit-box-shadow: inset 0 0 0 0.2em #ffffff;
          box-shadow: inset 0 0 0 0.2em #ffffff;
  background: #ff4912;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border-radius: 99em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label span p {
  margin: 0;
  font-size: 14px;
  margin-bottom: -1px;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label span p small {
  font-size: 17px;
  margin-left: 10px;
  font-weight: bold;
  color: #93959F;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label span p i {
  width: 20px;
  height: 20px;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label span p i img {
  width: 15px;
  margin-left: 7px;
  margin-bottom: -2px;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item label span:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  content: "";
  background: transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 6px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  border: solid 1px #828282;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item .add_btn {
  margin-top: 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item .add_btn .btn button {
  width: 80px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
  font-weight: bold;
  padding: 0;
  height: 32px;
  margin: 0;
  outline: 0;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  color: #ff2300;
  position: relative;
  background: #fff;
  cursor: pointer;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item .add_btn .btn .inc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item .add_btn .btn .inc span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #58A940;
  cursor: pointer;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item .add_btn .btn .inc span svg {
  width: 12px;
  height: 12px;
}

.iteam_modifiers .iteam_sellect .main_sellect .sellect .group_item .add_btn p {
  margin: 5px 0 0;
  font-size: 11px;
  height: 14px;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .active {
  pointer-events: none;
  opacity: 0.3;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group {
  width: 100%;
  display: block;
  padding: 10px 0;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group span small {
  padding: 0px 20px;
  margin-left: 15px;
  font-size: 12px;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group input:checked + label:before {
  background-color: #ff2300;
  border: solid 1px #ff2300;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border-radius: 99em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  position: relative;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-right: 45px;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group label p {
  margin: 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group label p small {
  font-size: 17px;
  margin-left: 10px;
  font-weight: bold;
  color: #93959F;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group label p span {
  width: 20px;
  height: 20px;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group label p span img {
  width: 15px;
  margin-left: 7px;
  margin-bottom: -4px;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 1px #828282;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 6px;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .add_btn {
  margin-top: 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .add_btn .btn button {
  width: 80px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.46);
  font-weight: bold;
  padding: 0;
  height: 32px;
  margin: 0;
  outline: 0;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  color: #ff2300;
  position: relative;
  background: #fff;
  cursor: pointer;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .add_btn .btn .inc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .add_btn .btn .inc span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #58A940;
  cursor: pointer;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .add_btn .btn .inc span svg {
  width: 12px;
  height: 12px;
}

.iteam_modifiers .iteam_sellect .main_sellect .checkbox .additems .add_btn p {
  margin: 5px 0 0;
  font-size: 11px;
  height: 14px;
}

.iteam_modifiers .iteam_sellect .helf_heading .head h3 {
  color: #ff2300;
  position: relative;
  font-weight: 400;
  margin: 20px 0;
}

.iteam_modifiers .iteam_sellect .helf_heading .head h3::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 32px;
  height: 2px;
  bottom: -4px;
  background-color: #ff2300;
}

.btn_fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FAF7FF;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 1px #676767;
          box-shadow: 0px 0px 1px #676767;
  z-index: 99;
}

.btn_fixed .fixed .shwoing {
  margin-bottom: 20px;
  max-height: 300px;
  overflow: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_fixed .fixed .shwoing .tit p {
  margin: 2px 0;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.btn_fixed .fixed .shwoing .tit p small {
  width: 65%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.btn_fixed .fixed .shwoing .tit p small b {
  color: #5200C6;
}

.btn_fixed .fixed .shwoing .tit p span {
  width: 35%;
  text-align: right;
}

.btn_fixed .fixed .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: solid 1px #5200C6;
  border-radius: 5px;
  margin: 10px 0;
}

.btn_fixed .fixed .btns button {
  border: 0;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #5200C6;
  outline: 0;
}

.btn_fixed .fixed .btns .two {
  text-transform: uppercase;
  cursor: pointer;
}

.btn_fixed .fixed .desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btn_fixed .fixed .desserts .title .head h3 {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0 0;
}

.btn_fixed .fixed .desserts .title .pera p {
  margin: 0;
  font-size: 12px;
  color: #93959F;
}

.btn_fixed .fixed .desserts .title .pera p span {
  color: #000;
  font-weight: bold;
}

.btn_fixed .fixed .desserts .hide_show .hide h3 {
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
  color: #5200C6;
  cursor: pointer;
}

.btn_fixed .fixed .desserts .hide_show .hide h3 small {
  color: #93959F;
}
/*# sourceMappingURL=pizza-modifers.component.css.map */