
<div class="order">
    <div class="order-detailes" [routerLink]="['/myorders']"> 
        <div class="heading_div">
            <div class="head">
                <h3><svg width="13" height="21" viewBox="0 0 13 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0371 20.0827L0.792152 10.9458C0.402616 10.5612 0.402616 9.93981 0.792152 9.5542L10.0371 0.417333C10.5995 -0.139111 11.5144 -0.139111 12.0777 0.417333C12.64 0.973776 12.64 1.87687 12.0777 2.43332L4.16913 10.2505L12.0777 18.0657C12.64 18.6231 12.64 19.5262 12.0777 20.0827C11.5144 20.6391 10.5995 20.6391 10.0371 20.0827Z" />
                    </svg>
                    Back</h3>
                <p>Order Details    </p>
            </div>
        </div>
        
    </div>
  
    <div class="cart_item">
        <div class="order_d">
            <div class="items">
                <div class="part_of_cart">
                    <div class="title">
                        <h3>Chicken Masala Tikka</h3>
                    </div>
                    <div class="qun">
                        <!-- <h3>1</h3> -->
                    </div>
                    <div class="price">
                        <h3>£3.50</h3>
                    </div>
                </div>
                <!-- addons++++++++++++++++++++++++ -->
                <div class="addons">
                    <div class="add_modfiers">
                        <div class="part_of_cart">
                            <div class="title">
                                <h3><span>- Mint Chutney</span></h3>
                            </div>
                            <div class="qun">
                                <h3>1</h3>
                            </div>
                            <div class="price">
                                <h3>£3.50</h3>
                            </div>
                        </div>
                        <!-- repeat+++++++++++++++++++++ -->
                        <div class="part_of_cart">
                            <div class="title">
                                <h3><span>- Youghurt Salsa</span></h3>
                            </div>
                            <div class="qun">
                                <h3>1</h3>
                            </div>
                            <div class="price">
                                <h3>£3.50</h3>
                            </div>
                        </div>
                        <div class="part_of_cart">
                            <div class="title">
                                <h3><span>- Youghurt Salsa</span></h3>
                            </div>
                            <div class="qun">
                                <h3>1</h3>
                            </div>
                            <div class="price">
                                <h3>£3.50</h3>
                            </div>
                        </div>
                        <div class="part_of_cart">
                            <div class="title">
                                <h3><span>- Spicy Mango Chutney</span></h3>
                            </div>
                            <div class="qun">
                                <h3>1</h3>
                            </div>
                            <div class="price">
                                <h3>£3.50</h3>
                            </div>
                        </div>
                        <div class="part_of_cart">
                            <div class="title">
                                <h3><span>- Kachumber</span></h3>
                            </div>
                            <div class="qun">
                                <h3>1</h3>
                            </div>
                            <div class="price">
                                <h3>£3.50</h3>
                            </div>
                        </div>
                        <div class="part_of_cart">
                            <div class="title">
                                <h3><span>- Sweet Chilly Chutney</span></h3>
                            </div>
                            <div class="qun">
                                <h3>1</h3>
                            </div>
                            <div class="price">
                                <h3>£3.50</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- iteam_reapting+++++++++++++++++++++++ -->
            <div class="items">
                <div class="part_of_cart">
                    <div class="title">
                        <h3>Salt & Pepper Munchie Box - Large (incl)</h3>
                    </div>
                    <div class="qun">
                        <!-- <h3>1</h3> -->
                    </div>
                    <div class="price">
                        <h3>£3.50</h3>
                    </div>
                </div>
                
            </div>
            <!-- iteam_reapting+++++++++++++++++++++++ -->
            <div class="items">
                <div class="part_of_cart">
                    <div class="title">
                        <h3>Salt & Pepper Munchie Box - Large (incl)</h3>
                    </div>
                    <div class="qun">
                        <!-- <h3>1</h3> -->
                    </div>
                    <div class="price">
                        <h3>£3.50</h3>
                    </div>
                </div>
                <!-- addons++++++++++++++++++++++++ -->
               
            </div>
        </div>
        <!-- totle+tax_designs+++++ -->
        <div class="total_price_amount">
            <div class="price">
                <div class="total">
                    <h3>Total (Excl Tax)</h3>
                    <h3>£75.10</h3>
                </div>
                <div class="total">
                    <h3>Tax</h3>
                    <h3>£7.40</h3>
                </div>
            </div>
            <div class="price">
                <div class="total">
                    <h4>2 items | <span class="green" >Delivered</span></h4>
                    <!-- the above green class to replace class="them-c" when we get Ready for Collection aplly them-c class -->
                    <h3><b>Total: £82.50</b></h3>
                </div>
                <div class="total">
                    <h4>Advance - £5.20</h4>
                    <h4><span class="gray">Due - £0.00</span></h4>
                     <!-- the above green class to replace class="them-c" when we get due amount them-c class -->
                    <h4><span class="gray">Paid : £82.50</span></h4>
                     <!-- the above green class to replace class="them-c" when we get cancelled we will apply to them-c class -->
                </div>
            </div>
            <div class="payments">
                <div class="head">
                    <h5>Payments</h5>
                </div>
                <div class="total">
                    <h4 >Transaction <b>#65573184</b></h4>
                    <h4 >Amount <b> £5.20</b></h4>
                </div>
                <div class="total">
                    <h4 >Transaction <b>#7993796230491158_1</b></h4>
                    <h4 >Amount <b> £77.30</b></h4>
                </div>
            </div>

            <div class="payments">
                <div class="head">
                    <h5>Customer Details</h5>
                </div>
                <div class="total">
                    <h4 >Name: <b>John Joseph</b></h4>
                </div>
                <div class="total">
                    <h4 >Mobile: <b>07539084625</b></h4>
                </div>
            </div>
        </div>
    </div>
</div>