<div class="order-detailes" [routerLink]="['/TableAvalibility']"> 
    <div class="heading_div">
        <div class="head">
            <h3><svg width="13" height="21" viewBox="0 0 13 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0371 20.0827L0.792152 10.9458C0.402616 10.5612 0.402616 9.93981 0.792152 9.5542L10.0371 0.417333C10.5995 -0.139111 11.5144 -0.139111 12.0777 0.417333C12.64 0.973776 12.64 1.87687 12.0777 2.43332L4.16913 10.2505L12.0777 18.0657C12.64 18.6231 12.64 19.5262 12.0777 20.0827C11.5144 20.6391 10.5995 20.6391 10.0371 20.0827Z" />
                </svg>
                Back</h3>
            <p>Customer Details</p>
        </div>
    </div>
    
</div>

<div class="checkout_address" >
    <div class="tab_delivery" >
        <div class="find_address">
          <div class="label">
            <div class="address">
              <div class="input">
                <mat-form-field appearance="outline" >
                  <mat-label>Name</mat-label>
                  <input matInput  value="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="label">
            <div class="address">
              <div class="input">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput  value="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="label">
            <div class="address">
              <div class="input">
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input matInput  value="">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="label">
            <div class="address">
              <div class="input">
                <mat-form-field appearance="outline">
                    <mat-label>Select an Occasion</mat-label>
                    <mat-select >
                      <mat-option value="option1">
                        <mat-radio-button value="1">Birthday</mat-radio-button>
                      </mat-option>
                      <mat-option value="option2">
                        <mat-radio-button value="2">Anniversary</mat-radio-button>
                      </mat-option>
                      <mat-option value="option3">
                        <mat-radio-button value="3">Funeral</mat-radio-button>
                      </mat-option>
                      <mat-option value="option4">
                        <mat-radio-button value="4">Christmas</mat-radio-button>
                      </mat-option>
                      <mat-option value="option4">
                        <mat-radio-button value="4">Other</mat-radio-button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
        
              </div>
            </div>
          </div>

          <div class="label">
            <div class="address">
              <div class="input">
                <mat-form-field appearance="outline">
                  <mat-label>Additional Info</mat-label>
                  <input matInput  value="">
                </mat-form-field>
              </div>
            </div>
          </div>

       
        
        </div>
        <!-- </divend_find_adress++++++++ -->

    </div>
      <!-- like preorder+++ -->
    
</div>
<div class="accpt">
    <div class="ter">
        <mat-slide-toggle>I accept to store my data for the purpose of managing table reservations and orders</mat-slide-toggle>
        <mat-slide-toggle>I would like to receive updates about products, services, promotions and special events</mat-slide-toggle>
    </div>
</div>

<!-- fotter_btn -->

<div class="fixed_btn">
    <div class="contune">
        <div class="process_btn">
            <div class="process">
              <svg width="335" height="43" viewBox="0 0 335 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.19234 7.7202C7.25121 3.19793 11.2844 0 15.929 0H319.654C324.299 0 328.332 3.19793 329.391 7.7202L334.708 30.4285C336.177 36.7028 331.415 42.7083 324.971 42.7083H10.6119C4.16793 42.7083 -0.593838 36.7029 0.875271 30.4285L6.19234 7.7202Z" />
                </svg>
              <button  [routerLink]="['/cart']">Book Now</button>
            </div>
          </div>
    </div>
</div>